* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: segoe ui;
}

.products {
    padding: 20px;
    background-color: #e6e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.input_container {
    display: flex;
    justify-content: space-between;
}
.input_container input {
    width: 22%;
}
.icon {
    cursor: pointer;
    margin-right: 12px;
    transition: 0.4s;
}
.icon:hover {
    opacity: 0.75;
}

.toast_message {
    width: 250px;
    position: fixed;
    right: -300px;
    bottom: 10px;
    border-radius: 8px;
    font-size: 17px;
    padding: 12px;
    
    transition: 0.5s;
}

.modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.success_msg {
    background-color: #f5dfdf;
    color: green;
}
.error_msg {
    background-color: #efb8b8;
    color: red;
}