* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: segoe ui;
}

.products {
    padding: 20px;
    background-color: #e6e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.input_container {
    display: flex;
    justify-content: space-between;
}
.input_container input {
    width: 22%;
}
.icon {
    cursor: pointer;
    margin-right: 12px;
    transition: 0.4s;
}
.icon:hover {
    opacity: 0.75;
}